DATABASE_URL=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id
IMAGEKIT_ROOT_FOLDER=/your-folder/dev

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

NEXT_PUBLIC_APP_URL=http://localhost:3000

ALLOWED_ADMIN_EMAILS=

# Set to "true" only once the site is ready to be publicly indexed by search engines.
SITE_IS_LIVE=false
